

<div class="page-header">
  <h2>Create New List <small>Insert troppers into lists</small></h2>
</div>


<div class="row top-buffer">
<div class="col-md-12 pull-right">

<form role="form" class="newListForm" name="newListForm">
<div class="input-group">     
      <input ng-min="4" ng-pattern="patternName" placeholder="type your new list name" required ng-model="newList.data.name" type="text" class="form-control">
       <span class="input-group-btn">
       <button ng-disabled="newListForm.$invalid" ng-click="saveList()" class="btn btn-success" type="button">Save new list</button>
      </span>
    </div>
    
</form>

</div>
</div>

 <mb-list-editor list="newList.data"></mb-list-editor> 


