<div ng-show="currentState === state.IN_PROGRESS" class="text-center">
<h4>Waiting ...</h4>
</div>

<div ng-show="currentState === state.SUCCESS" class="text-center">
<h4>{{result.skill.name}} <small>successfully selected</small></h4>
</div>

<div ng-show="currentState === state.ERROR" class="text-center">
<h4>Unable to choose <i>{{result.skill.name}}</i> by <i>{{result.trooper.name}}</i> <small>Try again.</small></h4>
</div>

<div ng-show="currentState === state.DEFAULT" class="list-group">
  <a ng-repeat="skill in skills2" ng-click="selectSkill(skill)" href="" class="list-group-item">
  	 <span class="skill-view" style="background: url('/assets/skills.png'){{skill.style}}"></span>
    <h5 class="list-group-item-heading"><strong>{{skill.name}}</strong></h5>
    <p class="list-group-item-text"> <small><em ng-bind-html="skill.desc"></em></small></p>
  </a>
</div>