<!-- style="overflow-y: scroll; max-height:400px;" class="panel panel-default" -->
<div class="panel panel-default">
<table class="panel-body table table-bordered">
<tr class="active"><td class="col-md-2">Name</td><td class="col-md-3">Battle</td><td class="col-md-3">Mission</td><td class="col-md-3">Raid</td>
	<td class="col-md-1">
	<button ng-disabled="tableState === tableStates.IN_PROGRESS" type="button" ng-click="playAll()" class="btn btn-xs btn-block btn-success">
	<span ng-show='tableState === tableStates.DEFAULT'>Play All!</span>
	<span ng-show='tableState === tableStates.IN_PROGRESS'>Wait...</span>
</button>

	</td></tr>

<tr ng-show="troopers.length === 0"><td colspan="5">
<p class="text-center"><i>It looks like, your list is empty!</i></p>
</td></tr>
<tr ng-show="!troopers"><td colspan="5">
<p class="text-center"><i>Waiting...</i></p>
</td></tr>
<tr id="trooper-{{trooper.id}}" 
ng-class="{'active': trooper.ui.selected}"
ng-repeat-start="trooper in troopers | orderBy:'upgradeSkills'">
<td class="col-md-2"> 
  	<span><a target="_blank" href="http://{{trooper.name}}.minitroopers.com/hq">{{trooper.name}}</span> 
</td>
<td ng-click="selectTrooper(trooper)" class="clickable col-md-2">  
    <span>{{trooper.fights.battle}}</span>
</td>
<td ng-click="selectTrooper(trooper)" class="clickable col-md-2">  
    <span>{{trooper.fights.mission}}</span>
</td>
<td ng-click="selectTrooper(trooper)" class="clickable col-md-2">  
    <span>{{trooper.fights.raid}}</span>
</td>
<td class="col-md-4"> 
<button ng-show="trooper.ui.state !== state.UPGRADE" type="button" 
	ng-disabled="trooper.ui.state === state.IN_PROGRESS" class="btn btn-xs btn-block btn-default col-md-3" ng-click="play(trooper)">
	<span ng-show="trooper.ui.state === state.IN_PROGRESS">wait ...</span>
	<span ng-show="trooper.ui.state !== state.IN_PROGRESS">play</span>
</button>
<button type="button" ng-show="trooper.ui.state === state.UPGRADE" disabled
	class="btn btn-xs btn-block btn-success">
	<span>upgrade!</span>	
</button>

	<!-- <span ng-show="trooper.ui.state === state.PLAYED">+{{trooper.money}}
	</span> -->

</td>
</tr>
<tr ng-show="trooper.ui.selected && (trooper.ui.state === state.PLAYED || trooper.ui.state === state.UPGRADE)" ng-repeat-end>
<td class="col-md-12" colspan="5"> 

		<div class="row">
			<div class="col-md-12">		
		<mb-skill-selection ng-if="trooper.upgradeSkills" on-skill-selection="onSkillSelection(trooper)" skills="trooper.upgradeSkills"></mb-skill-selection>	  
			</div>
		</div>
		<div ng-show="trooper.needToUpgrade > 0" class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				  <div class="panel-body">
				
				
 <dl class="dl-horizontal">
  <dt><small class="text-muted">money:</small></dt>
  <dd><h1>{{trooper.money}}</h1></dd>
   <dt><small class="text-muted">next upgrade:</small></dt>
  <dd><h1>{{trooper.needToUpgrade}}</h1></dd>
</dl>

 
				</div></div>
			</div>
			<div class="col-md-6">			
			<div class="panel panel-default">
				  <div class="panel-body">
				   <span popover="{{skill.desc}}" popover-title="{{skill.title}}" popover-trigger="mouseenter" class="skill-view" style="{{skill.style}}" ng-repeat="skill in trooper.skills"></span>
				  </div>
				</div>
			</div>			
		</div>
 
</td>
</tr>

<tr class="active"><td ng-if="troopers.length !== 0" colspan="5">Total troopers: {{troopers.length}}</td></tr>

</table>
  </div> 