<div class="page-header">
    <h2>{{currentList.data.name}} <small>list edit view</small></h2>
</div>
 
<div class="row top-buffer">
<div class="col-md-12 pull-right">

<form role="form" class="newListForm" name="newListForm">
<div class="input-group">     
      <input placeholder="type your new list name" required mb-list-name-validator ng-model="currentList.data.name" type="text" class="form-control">
       <span class="input-group-btn">
       <button ng-disabled="newListForm.$invalid" ng-click="updateList()" class="btn btn-success" type="button">Update list</button>
      </span>
    </div>
</form>

</div>
</div>




 <mb-list-editor list="currentList.data"></mb-list-editor> 


