<!DOCTYPE html>
<html ng-app="mb" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@yOomuG">
    <meta name="twitter:title" content="Minibotters">
    <meta name="twitter:description" content="Minitroopers web-based game manager.">
    <meta name="twitter:creator" content="@yOomuG">
    <meta name="twitter:image:src" content="http://the-party-loving.minitroopers.com/img/fb/minitroopers.png">
    <meta property="og:title" content="Minibotters" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://mini-botters.rhcloud.com" />
    <meta property="og:image" content="http://the-party-loving.minitroopers.com/img/fb/minitroopers.png" />
    <meta property="og:description" content="Minitroopers web-based game manager.">

    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
    <script src="http://localhost:35729/livereload.js"></script>
  </head>
  <body>

<nav id="navbar-example" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
      <div class="">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MINIBOTTERS</a>
        </div>
        <div collapse="isCollapsed" class="navbar-collapse bs-js-navbar-collapse">

<ul ng-show="base.auth && !base.auth.loggedIn" class="nav navbar-nav">
        <li class=""><a ui-sref="register">register</a></li>
        <li class=""><a ui-sref="login">login</a></li> 
      </ul>
      <ul ng-show="base.auth && base.auth.loggedIn" class="nav navbar-nav">
        <li class=""><a ui-sref="lists.all">listy</a></li>
        <li class=""><a ui-sref="lists.show({lid:'asddsf43'})">lista</a></li>
         <li class=""><a ui-sref="lists.edit({lid:'asddsf43'})">lista edit</a></li>
        <li class=""><a ui-sref="example">example</a></li> 
      </ul>


          <ul ng-show="base.auth && base.auth.loggedIn" class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-user"></span>
          {{base.auth.user.data.name}}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
           <!--  <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li> -->
            <li class="divider"></li>
            <li><a href="#" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
          </ul>
        </div><!-- /.nav-collapse -->
         </div>
      </div><!-- /.container-fluid -->
    </nav>


<br/><br/><br/><br/><br/><br/>
 


    <div class="container" ui-view="main"></div>

<br><br><br><br><br><br>
<footer class="footer">
  <div class="container">   <p class="text-muted">Minibotters 2014</p>      </div>   
   </footer>

  </body>
</html>
